<%- include("menu.ejs") %>

<h1 style=background-image:url(https://png.pngtree.com/thumb_back/fh260/background/20201026/pngtree-scene-with-geometrical-forms-the-poster-model-minimal-background-render-image_437743.jpg);>Welcome to my App !</h1>

<style>
    h1{
        height: 91%;
        /* border: solid black; */
        padding: 20px;
        
    }
</style>